@CHARSET "UTF-8";

body {
	font-size:12px;
	font-family:Helvetica;
}

h1 {
	font-size:16px;
	color:navy;
}
h2 {
	font-size:14px;
}
h3 {
	font-size:12px''
}

button {
	font-size:10px;
}
td {
	font-size:12px;
}
a {
	text-decoration:none;
	
}
a:hover{
	text-decoration:underline;
}

textarea {
	font-family:helvatica,arial;
	font-size:11px;
}
ul {
	padding-left:5px;
}


#wrapper {
		width:1024px;
		margin:0px auto;
		border:1px solid #bbb;
		padding:10px;
	}
	
#header {
		border:1px solid #bbb;
		height:110px;
		padding:10px;
		
		
	}
	.logo{
		font-size:18px;
		
	}
#content {
		margin-top:10px;
		padding-bottom:10px;
	}
#content div {
		padding:10px;
		border:1px solid #bbb;
		float:left;
	}
	
	
	
#content-left {
		width:180px;
	}
#content-main {
		margin-left:10px;
		width:550px;
	}
#content-right {
		margin-left:10px;
		width:200px;
	}
#footer {
		float:left;
		margin-top:10px;
		margin-bottom:10px;
		padding:10px;
		border:1px solid #bbb;
		width:878px;
	}
#bottom {
		clear:both;
		text-align:right;
	}